pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.git/
.nextflow*
.idea*
work/
results
my-results
*.gff3
*.tsv
*.fa
*.fasta
*.fna
*.fq
*.fastq
*.aa
